<div class="card">
    <div class="example">
        <div class="example-zh" style="font-size:28px;">{{cloze_sentence}}</div>
    </div>
    <hr class="divider">
    <div class="label">ESPAÑOL</div>
    <div class="example-translation">{{example_es}}</div>
    <div class="label">ENGLISH</div>
    <div class="example-translation">{{example_en}}</div>
</div>
<!-- BACK -->
<div class="card">
    <div class="example">
        <div class="example-zh" style="font-size:28px;">{{example_zh_highlighted}}</div>
        <div class="example-translation">{{example_pinyin}}</div>
    </div>
    <hr class="divider">
    <div class="hanzi" style="font-size:48px;">{{hanzi}}</div>
    <div class="pinyin">{{pinyin}}</div>
    <div class="meaning-es">{{spanish}}</div>
    {{audio_sentence}}
</div>
