<div class="card">
    <img class="icon-img" src="{{icon}}">
    <div class="hanzi">{{hanzi}}</div>
</div>
<!-- BACK -->
<div class="card">
    <img class="icon-img" src="{{icon}}">
    <div class="hanzi">{{hanzi}}</div>
    <div class="pinyin">{{pinyin}}</div>
    <hr class="divider">
    <div class="meaning-es">{{spanish}}</div>
    <div class="meaning-en">{{english}}</div>
    <hr class="divider">
    <div class="example">
        <div class="example-zh">{{example_zh}}</div>
        <div class="example-translation">{{example_pinyin}}</div>
        <div class="example-translation">{{example_es}}</div>
    </div>
    {{audio_word}}
</div>
